

nav {
	ul{
	    border-left: 1px solid rgba(0,0,0,0.3);
		li{
			width: auto;
			a{
			    padding: .5rem 1rem;
			}

		
		}
		li:last-child{
			border-left: 1px solid rgba(0,0,0,0.3);
		}
	}



}

main{

	article{
		column-count:4;
		-webkit-column-count:4;
		-moz-column-count:4;

	}
	p{
		padding: 0px;
	}
	figure.bandMember{
		width: 75%;
		float: right;
		-webkit-clip-path: circle(40% at 50% 50%);
		clip-path: circle(40% at 50% 50%);
		shape-outside: circle(40% at 50% 50%);
		img{
			width: 100%;
			
		}
	}

}
