

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body{
	font-size: 1rem;
	font-family: $font-stack;
	box-shadow: 0 0 10px #000;
	.colorHR{
		background-color: $secondary-color;
		height:10px;
	}

}
/*  header  */
header{
	font-weight: $boldWeight;
	max-width: 75rem;
	margin: 0 auto;
	height:100px;
    position: relative;

	h1{
		font-size: 2rem;
		color: #FFF;
		position:absolute;
		bottom: 40px;
		left: 20px;
	}
	h2{
		font-size: 1.4rem;
		color: #FFF;
		position:absolute;
		bottom: 10px;
		left: 20px;
	}
	input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
	border-radius: 25px;
	margin-top: 60px;
	height: 30px;
	}

	/* When the input field gets focus, change its width to 100% */
	input[type=text]:focus {
	    width: 20%;
	}
		
}
div#headerWrapper{
	background-color:$primary-color;
}

/*  nav  */
nav {
	max-width: 75rem;
	margin: 0 auto;
	
	
	div{
		
		border-bottom: 1px solid rgba(0,0,0,0.3);
	    overflow: hidden;
	    background-color: $secondary-color;
	    
	
		
		a{
			float:right;
			border-right: 1px solid rgba(0,0,0,0.3);
			display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
			font-size: 15px;
			font-weight: $boldWeight;

		}
		a:hover{
			background-color:$primary-color;
			color: $secondary-color;
		}
		a:last-child{
			border-right:none;
		}
	}
	.topnav a:not(.active) {
		display: none;
	}
	.topnav a.icon {
	    float: left;
	    display: block;
	}
  	.topnav.responsive {position: relative;}
  	.topnav.responsive .icon {
	    position: absolute;
	    left: 0;
	    top: 0;
 	}
    .topnav.responsive a {
	    float: none;
	    display: block;
	    text-align: right;
  }

}


/*  main  */
main{
	max-width: 75rem;
	margin: 0 auto;
	background-color: #fff;
	h1{
		padding: $gutter;
		font-size:2rem ;
	}
	
	h2{
		font-size: 1.5rem;
		color: lighten( $secondary-color, 10%);
	}
	h3{
		font-size: 1.2rem;
		color: lighten( $secondary-color, 20%);
	}

	/*  COLUMNS  */
	.row {
		clear: both;
	}
	.column{
		padding: 0 $gutter;
	}
	@for $i from 1 through 12{
		$w: ($i / 12) * 100%;
		.small-#{$i} {
			width: $w;
			float: left;
		}
	}
	figure{
		width: 100%;
		img{
			width: 100%;
		}
	}
	div.attorneys{

		div{
			margin-bottom: 3rem;
			margin-top: 3rem;
			background-color:$primary-color;
			h2{
				text-align: center;
			}
			figure{

				img{

				}
			}
			button{
				background-color: $secondary-color;
				border: none;
			    color: white;
			    padding: 15px 32px;
			    text-align: center;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 1rem;
				width: 100%;
			}
			button:hover{
				background-color: white;
				color: $secondary-color;
			}
		}
	}
	div.cta{

		div{
			button{
				background-color: $secondary-color;
			    border: none;
			    color: white;
			    padding: 30px 32px;
			    text-align: center;
			    text-decoration: none;
			    display: inline-block;
			    font-size: 1rem;
			    width: 100%;
			    margin-bottom: 1rem;
			    margin-left: 2rem;

			}
			button:hover{
				background-color: $primary-color;
				color: $secondary-color;
			}
		}
	}
	div.blogs{

		div{
			margin-bottom: 3rem;
			margin-top: 3rem;
			figure{
				img{

				}
			}
			h2{
				padding: 1rem;
				background-color:$primary-color;
			}
			p{
				padding: 1rem;
				background-color:$primary-color;
			}
			button{
				padding: .5rem;
				border: none;
				width: 100%;
				background-color:lighten( $primary-color, 30%);
			}
		}
	}
	div.tod{
		div{
			margin-bottom: 3rem;
			margin-top: 3rem;
			h2{
				padding: .5rem;
				background-color:$primary-color;
			}
			p{
				padding: .5rem;
				background-color:$primary-color;
			}
			button{
				text-align: left;
				padding: .5rem;
				border: none;
				width: 100%;
				background-color:$primary-color;
			}
		}

	}
}

/*  footer  */
footer{
	background-color: $primary-color;
	ul.social{
		display: table;
		max-width: 75rem;
		margin: 0 auto;
		li{

			float: left;
			text-align: center;
			a{
				font-size: 3rem;
				padding-left: .5rem;
				color: white;

			}
			a:hover{
				color: $secondary-color;
			}
		}
	}
}


/* various extras */
.active{
	background-color: darken($secondary-color, 10%);
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
