@import "variables";

@import "reset";

@import "small-default";

@media only screen and (min-width: 35rem) {
    @import "medium";
} // end media query

@media only screen and (min-width: 65rem) {
    @import "large";  
} // end media query