
/*Tablet */

/*  main  */
main{

	article{
		column-count:2;
		-webkit-column-count:2;
		-moz-column-count:2;

		column-rule: 1px solid $secondary-color;
		-webkit-column-rule: 1px solid $secondary-color;
		-moz-column-rule: 1px solid $secondary-color;

		column-gap: 10px;
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
	}
}

