$font-stack: 'Alegreya', serif;
$normalWeight: 400;
$boldWeight: 800;

$primary-color: #FFE8D1;
$secondary-color: #68C3D4;
$accent-color: #568EA3;

$gutter: 2%;
$gutterDouble: (2 * $gutter);
