$primary: #CCCCCC; //Gray
$dark-primary: 	#4D4D4D; //Dark gray
$accent: #008E72; //Light green
$dark-accent: 	#277464; //dark green
$white: #FFFFFF;

$defaultFont: 'Montserrat', sans-serif;

$normal: 400;
$bold: 700;

$gutter: 2%;