$primary: #7A9EB1; //Gray
$dark-primary: 	#415865; //Dark gray
$accent: #F9F8EB; //Light green
$dark-accent: 	#FFE1B6; //dark green
$white: #FFFFFF;

$defaultFont: 'Montserrat', sans-serif;

$normal: 400;
$bold: 700;

$gutter: 2%;