/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF; }

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh; }

header {
  background-color: #7A9EB1;
  color: #FFE1B6;
  padding: 0.5rem 2%;
  font-size: 1.5rem; }
  header figure {
    margin-left: 12px;
    width: 100%; }
    header figure img {
      max-wdith: 30px; }
  header h1 {
    position: absolute;
    top: 30px;
    margin-left: 105px;
    color: #F9F8EB;
    font-size: 20px; }
  header h2 {
    position: absolute;
    top: 50px;
    margin-left: 105px;
    color: silver;
    color: #F9F8EB;
    font-size: 18px; }

nav {
  background-color: #7A9EB1;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #FFE1B6;
  display: flex; }
  nav div {
    flex-basis: 33.33%;
    text-align: center; }
  nav div a {
    display: block;
    font-size: 1rem;
    padding: .5rem 0;
    color: #F9F8EB;
    text-decoration: none; }
  nav div.active a {
    background-color: #415865; }

main.categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin-bottom: 30px; }
  main.categories figure {
    padding: .7rem 2vw; }
    main.categories figure img {
      width: 100%; }
    main.categories figure figcaption {
      text-align: center;
      padding: .2rem 0;
      color: #7A9EB1;
      height: 1.2em;
      width: 100%; }
  main.categories div {
    padding: .5rem;
    margin: 2%;
    color: #FFFFFF;
    background-color: #F9F8EB;
    color: #415865; }
    main.categories div h2 {
      float: left; }
    main.categories div p {
      display: inline;
      float: right; }

main.search div.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin-bottom: 30px; }
  main.search div.grid figure {
    padding: .7rem 2vw; }
    main.search div.grid figure img {
      width: 100%; }
    main.search div.grid figure figcaption {
      text-align: center;
      padding: .2rem 0;
      color: #7A9EB1;
      height: 1.2em;
      width: 100%; }
main.search div {
  padding: .5rem;
  margin: 2%;
  color: #FFFFFF;
  background-color: #F9F8EB;
  color: #415865; }
main.search div.searchArea h2 {
  padding: 10px;
  color: #415865; }
main.search div.searchArea form #submit {
  padding: 7px 30px;
  background-color: #7A9EB1; }

main.account div form#accountInfo {
  margin: 1em 3%; }
  main.account div form#accountInfo fieldset {
    background-color: white;
    border-radius: 1em;
    margin: 1.5em 0;
    border: #415865 solid 1px; }
    main.account div form#accountInfo fieldset legend {
      color: #415865;
      margin-left: 6%;
      padding: .5em;
      border: white solid 1px;
      background-color: white;
      border-radius: .4em; }
    main.account div form#accountInfo fieldset label {
      display: block;
      margin: .5em; }
      main.account div form#accountInfo fieldset label span {
        display: block;
        color: #3f5d6c;
        padding-top: 1em;
        padding-bottom: .3em; }
  main.account div form#accountInfo input.submitBtn {
    -webkit-appearance: none;
    background-color: #415865;
    border: solid 1px #3f5d6c;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    box-shadow: 4px 4px 10px #000;
    color: white; }

@media only screen and (min-width: 29rem) {
  main.categories {
    grid-template-columns: 1fr; }
    main.categories div p {
      font-size: 1.12rem; }

  nav div a {
    font-size: 1.3rem; }

  main.search div.grid {
    grid-template-columns: 1fr 1fr; }

  main.account div form#accountInfo {
    margin: 1em 3%; }
    main.account div form#accountInfo fieldset {
      background-color: white;
      border-radius: 1em;
      margin: 1.5em 0;
      border: #415865 solid 1px; }
      main.account div form#accountInfo fieldset legend {
        color: #415865;
        margin-left: 6%;
        padding: .5em;
        border: white solid 1px;
        background-color: white;
        border-radius: .4em; }
      main.account div form#accountInfo fieldset label {
        display: block;
        margin: .5em; }
        main.account div form#accountInfo fieldset label span {
          display: block;
          color: #3f5d6c;
          padding-top: 1em;
          padding-bottom: .3em; }
    main.account div form#accountInfo input {
      width: 75%;
      height: 30px; }
    main.account div form#accountInfo input.submitBtn {
      -webkit-appearance: none;
      background-color: #415865;
      border: solid 1px #3f5d6c;
      border-radius: 5px;
      padding: 1em;
      width: 50%;
      display: block;
      margin: auto;
      box-shadow: 4px 4px 10px #000;
      color: white; } }
