html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1rem;
  font-family: "Alegreya", serif; }

/*  header  */
header {
  height: 150px;
  position: relative; }
  header figure.logo {
    position: absolute;
    bottom: 50%; }
    header figure.logo img {
      width: 50%; }
  header ul.social {
    position: absolute;
    bottom: 50%;
    right: 0px; }
    header ul.social li {
      float: right;
      width: 33.3%; }
      header ul.social li a {
        display: block;
        margin: 0 auto;
        background-image: url(../img/socialSprites.png);
        height: 45px;
        width: 45px; }
  header ul.social .twitter a {
    background-position: -90px 0px; }
  header ul.social .youtube a {
    background-position: -225px 0px; }
  header ul.social .facebook a {
    background-position: -45px 0px; }
  header ul.social .twitter a:hover {
    background-position: -90px -45px; }
  header ul.social .youtube a:hover {
    background-position: -225px -45px; }
  header ul.social .facebook a:hover {
    background-position: -45px -45px; }
  header input[type=text] {
    position: absolute;
    bottom: 5px;
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    height: 30px; }

div#headerWrapper {
  background-color: #568EA3; }

/*  nav  */
nav div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #68C3D4; }
  nav div a {
    float: right;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800; }
  nav div a:hover {
    background-color: #FFE8D1;
    color: #68C3D4; }
  nav div a:last-child {
    border-right: none; }
nav .topnav a:not(.active) {
  display: none; }
nav .topnav a.icon {
  float: left;
  display: block; }
nav .topnav.responsive {
  position: relative; }
nav .topnav.responsive .icon {
  position: absolute;
  left: 0;
  top: 0; }
nav .topnav.responsive a {
  float: none;
  display: block;
  text-align: right; }

/*  main  */
main {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  main div.teaser {
    position: relative; }
    main div.teaser span {
      position: absolute;
      display: block;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding: .3rem 2%;
      color: white;
      font-size: 1.5rem; }
    main div.teaser img {
      display: block;
      width: 100%; }
  main div.lead {
    grid-row: 1;
    grid-column: 1/span 2;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  main div.secondTop {
    grid-row: 2;
    grid-column: 1/span 2;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  main div.secondBottom {
    grid-row: 3;
    grid-column: 1/span 2;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  main div.ie1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1; }
  main div.ie2 {
    -ms-grid-row: 4;
    -ms-grid-column: 2; }
  main div.ie3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
  main div.ie4 {
    -ms-grid-row: 5;
    -ms-grid-column: 2; }

/*  footer  */
footer {
  background-color: #FFE8D1; }
  footer h2 {
    font-size: 1.5rem;
    color: #90d3df; }
  footer div.container1 {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer div.container1 div {
      -ms-flexbasis: 100%;
      flex-basis: 100%;
      padding: 1rem 2%; }
      footer div.container1 div ul li a {
        color: #447182;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
  footer p {
    margin-top: 2rem;
    text-align: center; }
    footer p a {
      text-decoration: none; }

/* various extras */
.active {
  background-color: #40b3c9; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35rem) {
  /*Tablet */
  header {
    position: relative;
    height: 150px;
    /* When the input field gets focus, change its width to 100% */ }
    header figure.logo {
      bottom: 45px; }
    header ul.social {
      position: absolute;
      bottom: .5rem;
      right: 2%; }
    header ul.social li {
      width: auto; }
    header input[type=text] {
      width: 130px;
      right: 10px;
      float: right;
      height: 30px;
      bottom: 70px; }
    header input[type=text]:focus {
      width: 20%; }

  nav div a {
    float: left; }
  nav .topnav a:not(:first-child) {
    display: block; }
  nav .topnav a.icon {
    display: none; }

  /*  main  */
  main div.lead {
    grid-row: 1 / span 2;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row-span: 2; }
  main div.secondTop {
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row-span: 1; }
  main div.secondBottom {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row-span: 1; }

  footer div.container1 div {
    -ms-flexbasis: 46%;
    flex-basis: 50%; } }
@media only screen and (min-width: 75rem) {
  nav div a {
    padding: .5rem 1rem; }
  nav div a:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.3); }

  /*  main  */
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-template-columns: 1fr 1fr 1fr 1fr; }
    main div.lead {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 2; }
    main div.secondTop {
      grid-row: 1;
      grid-column: 3 / span 2;
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1; }
    main div.secondBottom {
      grid-row: 2;
      grid-column: 3 / span 2;
      -ms-grid-row: 2;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
      -ms-grid-row-span: 1; }
    main div.ie1 {
      -ms-grid-row: 3;
      -ms-grid-column: 1; }
    main div.ie2 {
      -ms-grid-row: 3;
      -ms-grid-column: 2; }
    main div.ie3 {
      -ms-grid-row: 3;
      -ms-grid-column: 3; }
    main div.ie4 {
      -ms-grid-row: 3;
      -ms-grid-column: 4; }

  footer div.container1 div {
    -ms-flexbasis: 23%;
    flex-basis: 25%; } }

/*# sourceMappingURL=styles.css.map */
