
nav {
	ul{
	    margin-left: $gutter;
	    border-left: 1px solid rgba(0,0,0,0.3);
		li{
			width: auto;
			a{
			    padding: .5rem 1rem;
			}

		
		}
		li:last-child{
			border-left: 1px solid rgba(0,0,0,0.3);
		}
	}



}

main{
	figure{
		width: 25% - $gutterDouble;
		float: left;
	}


}